* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  text-decoration: none;
}

img{
    display: block;
   max-width: 100%;
}

body{
    display: grid;
    height: 100dvh;
    grid-template-columns: 60px 1fr 2fr;
}

nav{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    background-color: #F7F5F2;
    
}

.container-nav{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 16px;

}

.container-nav > img{
    border-radius: 100%;
    padding: 7px;
    width: 40px;
}

.container-nav > img:hover{
    background-color: #32A961;
}

section{
    background-color: brown;
}

main{
    background-color: blueviolet;
}